body {
    background-color: #97BC62;
}

header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:100px;
    width:100%;
}

#highScores {
    text-align: left;
}

#highScoresBtn {
    font-size: 15px;
    border:none;
    border-radius: 20px;
    background-color: #2C5F2D;
    color: white;
    padding: 14px 34px;
    cursor: pointer;
}

#pageTitle {
    text-align: center;
    font-size: 30px;
    padding-right: 50px;
}

#timer {
    text-align: right;
}

#quizMaterial {
    position: relative;
    text-align:center;
    padding-top:100px;
}

#gameDescription {
    padding: 100px 0px 50px 0px;
}
#activationBtn {
    border: none;
    background-color: #2C5F2D;
    border-radius: 25px;
    color: white;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    cursor: pointer;
}